
@font-face{
  font-family: 'Billa';
  src: url(./Billabong.woff);
}


body {
  padding: 50px;
  font-size: 40px;
  font-family: 'Billa';
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}


a {
  color: #00B7FF;
}

h1{
  font-weight: lighter;
  text-align: center;
  color: white;
}
